{% extends "base.html" %}
{% block btn_side %}kategori{% endblock %}
{% block content %}

<h3>Kategori</h3>
<hr>
<form method="post">
	<table class="table table-bordered" id="mytable" data-btn="add">
		<thead>
			<tr>
				<th class="tb-no">No</th>
				<th>Nama</th>
				<th class="tb-act-2">Aksi</th>
			</tr>
		</thead>
		<tbody>
		{% for id, item in data.items() %}
			<tr>
				<td>{{ id }}</td>
				<td>{{ item[1] }}</td>
				<td>
					<button type="button" class="btn btn-primary btn-xs edit-kategori" data-id="{{ item[0] }}" data-nama="{{ item[1] }}" data-toggle="modal" data-target=".edit-data">Edit</button>
					<button type="submit" class="btn btn-danger btn-xs" name="del" value="{{ item[0] }}">Hapus
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</form>
<div class="modal fade tambah-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    	<form method="post">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Tambah Kategori</h4>
		    </div>
		    <div class="modal-body">
		    	<input type="text" class="form-control" name="nama" placeholder="Nama Kategori">
		    </div>
		    <div class="modal-footer">
		    	<button type="submit" class="btn btn-success btn-sm" name="add" value="1">Simpan</button>
		    	<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Batal</button>
		    </div>
		</form>
    </div>
  </div>
</div>
<div class="modal fade edit-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    	<form method="post" enctype="multipart/form-data">
	    	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Edit Kategori</h4>
		    </div>
		    <div class="modal-body">
		    	<input type="text" class="form-control kategori-nama" name="nama" placeholder="Nama Kategori">
		    </div>
		    <div class="modal-footer">
		    	<button type="submit" class="btn btn-success kategori-id btn-sm" name="edit">Simpan</button>
		    	<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Batal</button>
		    </div>
		</form>
    </div>
  </div>
</div>

{% endblock %}